@tailwind base;

html {
  scroll-behavior: smooth;
  word-break: break-word;
}

::selection {
  color: white;
  background: black;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;